body {
	background-image: url(../images/main_images/gyard.gif);
	background-size: cover;
	/*background-position: center; */
	/* font-family: 'Source Code Pro', monospace; */
	color: #fff;
	margin: 0 auto;
	text-align: center;
}
.glow {
	color: #fff;
	text-align: center;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
	-moz-animation: glow 1s ease-in-out infinite alternate;
	animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
	from {
		text-shadow: 0 0 20px #fff, 0 0 30px #ff642b, 0 0 40px #ff642b, 0 0 50px #ff642b, 0 0 60px #ff642b,
			0 0 70px #ff642b, 0 0 80px #ff642b;
	}
	to {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff9933, 0 0 40px #ff9933, 0 0 50px #ff9933,
			0 0 60px #ff9933, 0 0 70px #ff9933;
	}
}
.container {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 30px;
	margin-top: 20px;
}
.cont2 {
	padding: 30px;
}
/* #tombstone {
	background-image: url('../images/main_images/tombstone.jpg');
	height: 300px;
	width: 600px;
	background-size: cover;
} */
#image {
	width: 400px;
	height: 300px;
	border-radius: 180px;
	padding: 15px;
}

#currentWordToGuess {
	padding: 20px;
	margin: 10px;
}
#playerName {
	padding-bottom: 10px;
}

footer {
	margin-bottom: -200px;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 10px;
	margin-top: 150px;
}
